<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Green Bees - Todo List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="container-fluid">
      <div class="jumbotron">
        <h1>TodoList</h1>
        <h3>Green Bees</h3>
      </div>
    </div>

    <div id="taskList" class="container">
      <h5>Tasks</h5>
      <div class="list-group">

        <task-submission></task-submission>

        <div class="list-group-item" v-for="task in tasks">
          <task-item :task-text="task.task" :importance-level="task.importance" :is-completed="task.completed"></task-item>
        </div>

        <button class="reload btn btn-info btn-block" v-on:click="getTasks">Reload</button>

      </div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.js"></script>
    <script src="/javascripts/api.js"></script>
    <script src="/javascripts/components/TaskItem.js"></script>
    <script src="/javascripts/components/TaskSubmission.js"></script>
    <script src="/javascripts/main.js"></script>
  </body>
</html>
