<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Signin</title>
  </head>
  <body>
    <h1>Signin</h1>
    <form action="/users/signin", method="post">
      <input type="text", name="username", placeholder="username">
      <input type="password", name="password", placeholder="password">
      <button type="submit">Submit</button>
    </form>
    <a href="/users/register">Register</a>
  </body>
</html>
