body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

/*Task Styling*/

.completed {
  text-decoration: line-through;
}

.vertical-align {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-half {
  flex-grow: 0.5;
}

.btn-complete {
  color: green;
  font-size: 1.2em;
  border: 3px solid green;
  border-radius: 50%;
  padding: 2px;
  float: right;
  cursor: pointer;
}

.btn-complete:hover {
  color: #00d400;
  border: 3px solid #00d400;
}

.list-group div.input-group input.form-control {
  border-bottom-left-radius: 0;
}

.list-group div.input-group button[type=button].dropdown-toggle {
  border-bottom-right-radius: 0;
}

.list-group button.reload {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-task-item .task-attributes div.task-edit {
  margin-top: 2px;
  margin-bottom: 3px;
}

.list-task-item .task-attributes input[type="text"] {
  font-size: 18px;
}

.list-task-item .task-attributes h4 {
  margin-left: 13px;
}

.list-task-item .task-attributes .attributes-display {
  margin-left: 13px;
}

.list-task-item .action-items {
  border-top: 1px solid #e3e3e3;
}

.list-task-item .action-items button {
  padding: 0;
  margin: 10px 16px 0;
}